/* You can add global styles to this file, and also import other style files */
body { 
    height: 100vh;
    margin: 0;
    padding: 2%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(66deg, rgba(250,250,250,1) 14%, rgba(235,235,235,1) 56%, rgba(225,225,225,1) 100%);
}

body .container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}